spring.application.name=postgres
spring.datasource.url=jdbc:postgresql://db_server:db_port/db_name
spring.datasource.username=login
spring.datasource.password=password

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
# Hibernate DDL (create, drop, validate, update)
spring.jpa.hibernate.ddl-auto=update